.monthlyBill{
  .nav{
  }
  .content{
    .header{
      margin: 0 10px;
      padding: 20px 20px 30px;
      // 背景色渐变
      background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
      border-radius: 5px;
      .date{
        margin-bottom: 25px;
        font-weight: 600;
        .text{
          font-size: 16px;
          margin-right: 5px;
        }
        .arrow::after {
          content: '∨';
          font-size: 16px;
        }
        .expend::after {
          content: '∧';
          font-size: 16px;
        }
      }
      .twoLineOverview{
        display: flex;
        .item{
          flex: 1;
          display: flex;
          flex-direction: column;
          .money{
            margin-bottom: 5px;
            font-weight: 600;
          }
        }
      }
    }
    .detailWrapper{
      padding: 10px 10px 0 10px;
      .item{
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
        padding: 10px 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin-bottom: 5px;
        .baseInfo{
          margin-bottom: 5px;
          display: flex;
          justify-content: space-between;
        }
        .moneyInfo{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}